/* HERO */

.hero-clean {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    animation: fadeHero 1s ease forwards;
}

.hero-sub {
    margin-top: 15px;
    opacity: 0.8;
    font-size: 18px;
}

/* МЕНЮ */

.clean-nav {
    margin-top: 50px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.clean-nav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    position: relative;
    transition: all 0.3s ease;
}

.clean-nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background: #a855f7;
    transition: 0.3s ease;
}

.clean-nav a:hover {
    opacity: 0.8;
    transform: translateY(-2px);
}

.clean-nav a:hover::after {
    width: 100%;
}

/* НОВОСТИ */

.news-clean {
    max-width: 900px;
    margin: 0 auto 120px auto;
    text-align: center;
}

.news-clean h2 {
    margin-bottom: 30px;
    font-weight: 400;
}

.divider {
    height: 1px;
    width: 200px;
    margin: 60px auto;
    background: linear-gradient(to right, transparent, #a855f7, transparent);
}

.telegram-clean {
    border-radius: 20px;
    overflow: hidden;
}

/* АНИМАЦИЯ */

@keyframes fadeHero {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

